doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Welcome | KGL Inventory
    link(rel='stylesheet' href='/css/index.css')
    link()
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')

  body
    //- Background Video
    video.bg-video(autoplay loop muted playsinline)
      source(src='/img/video.mp4' type='video/mp4')

    //- Main Content Wrapper
    .main-wrapper
      //- Navigation Bar
      nav.navbar
        img.logo(src='/images/kgl-logo.png' alt='KGL Logo')
        h1.company-name Karibu Grocery Limited

      //- Hero Section
      section.hero
        .hero-content
          h2.hero-title KARIBU GROCERIES LIMITED
          p.hero-subtitle Welcome to our powerful inventory control system,designed to make your life easier and your business more efficient.
          .hero-actions
            a.btn-primary(href='/login')
              | Get Started
              i.fas.fa-arrow-right

      //- Footer
      footer.footer
        p © #{new Date().getFullYear()} KGL Inventory. All rights reserved.

    script(src='/js/main.js')
