doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Signup Page
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/sales.css')
  body
    // Top Navbar
    nav.navbar.navbar-expand-lg.navbar-dark()
      .container-fluid
        a.navbar-brand(href='/') KGL System
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='/creditSaleList') Credits
            li.nav-item
              a.nav-link(href='/procurementList') Procurement
            li.nav-item
              a.nav-link(href='/sell/saleslist') Sales
            li.nav-item
              a.nav-link(href='/signupList') Users
            li.nav-item
              a.nav-link(href='/index') Logout

    .container-fluid
      .row
        // Sidebar
        .col-md-2.sidebar
          ul.nav.flex-column
            if user
              li.nav-item
                a.nav-link(href=user.role === 'director' ? '/dashboard' : user.role === 'manager' ? '/manager-dashboard' : '/sales-manager-dashboard') Dashboard
            li.nav-item
              a.nav-link(href='/add') Add Credit
            li.nav-item
              a.nav-link(href='/procure') Add Procurement
            li.nav-item
              a.nav-link(href='/sell') Add Sale
            li.nav-item
              a.nav-link(href='/signup') Add User

        // Main Content
        .col-md-10.main-content
          block content
            .container.mt-5
              .row.justify-content-center
                .col-md-6
                  h2.text-center.mb-4 User Signup
                .col-md-8
                  .card
                    .card-body
                      form#signupForm(action='/signup' method='post')
                        .row.g-3
                          .col-md-6
                            label.form-label(for='fname') Full Name
                            input#fname.form-control.form-control-sm(type='text', name='fname',  placeholder='Enter Fullname',)
                          .col-md-6
                            label.form-label(for='email') Email
                            input#email.form-control.form-control-sm(type='email', name='email',  placeholder='Enter Email',)

                          .col-md-6
                            label.form-label(for='role') Role
                            select#role.form-select.form-select-sm(name='role',  placeholder='Select Role',)
                              option(value='') -- Select Role --
                              option(value='director') Director
                              option(value='manager') Manager
                              option(value='salesAgent') Sales Agent
                          .col-md-6
                            label.form-label(for='branch') Branch
                            input#branch.form-control.form-control-sm(type='text', name='branch',  placeholder='Enter Branch',)

                          .col-md-6
                            label.form-label(for='password') Password
                            input#password.form-control.form-control-sm(type='password', name='password',  placeholder='Enter Password',)
                          .col-md-6
                            label.form-label(for='confirmPassword') Confirm Password
                            input#confirmPassword.form-control.form-control-sm(type='password', name='confirmPassword',  placeholder='Confirm Password',)

                          if error
                            .col-12
                              .text-danger.text-center.mt-2= error

                          .col-12
                            button.btn.btn-primary.btn-sm.w-100(type='submit') Sign Up

                    //- .mt-3.text-center
                    //-   p
                    //-     | Already have an account?
                    //-     a(href='/login') L